* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 1200px / 2);
    padding-right: calc(50% - 1200px / 2);
}

.top {
    background: url(img/backgroung.jpg) no-repeat center;
    background-size: cover;
    height: 1024px;
}

.top__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 217px;
    max-width: 788px;
}

.top__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    width: 481px;
    padding-top: 32px;
    padding-bottom: 44px;
}

.text__strong {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.top__btn {
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.top__btn:hover {
    cursor: url(img/Vector.svg), pointer;
}

.product {
    background: #000915;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
}

.product__box {
    position: relative;
}

.product__text {
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
    left: 32px;
    bottom: 32px;
} 

.product__link:hover {
    cursor: url(img/Vector.svg), pointer;
}

.product__box-img:hover {
    box-shadow: 0 0 0 3px #44D2FF;
    border-radius: 16px;
}

.gameseasons {
    padding-top: 233px;
    background: #000915;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 135px;
}

.gameseasons__box {
    display: flex;
    flex-direction: column;
}

.gameseasons__box_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.gameseasons__box_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 32px;
}

.gameseasons__box_btn {
    margin-top: 32px;
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.gameseasons__box_btn:hover {
    cursor: url(img/Vector.svg), pointer;
}

.gameseasons__img {
    width: 485px;
    height: 333px;
}

.gamewords {
    padding-top: 239px;
    background: #000915;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 135px;
}

.gamewords__box {
    display: flex;
    flex-direction: column;
}

.gamewords__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.gamewords__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 32px;
}

.gamewords__btn {
    margin-top: 32px;
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.gamewords__btn:hover {
    cursor: url(img/Vector.svg), pointer;
}

.gamewords__img {
    width: 481px;
    height: 322px;
}

.gamepuzzles {
    padding-top: 276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/gamethree.jpg) no-repeat center;
    background-size: cover;
    height: 800px;
}

.gamepuzzles__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.gamepuzzles__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 32px;
}

.gamepuzzles__btn {
    margin-top: 32px;
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.gamepuzzles__btn:hover {
    cursor: url(img/Vector.svg), pointer;
}

.footer {
    background: #000915;
    height: 80px;
    border: 1px solid rgba(184, 212, 255, 0.2);
}

.footer__text {
    padding-top: 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}


@media (min-width: 375px) and (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;
        background: url(img/bckmobile.png) no-repeat center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        width: 343px;
    }

    .top__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        width: 343px;
    }

    .text__strong {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
    }

    .product__box-img {
        width: 343px;
    }

    .gameseasons {
        display: flex;
        flex-direction: column;
    }
    
    .gameseasons__box {
        text-align: center;
        align-items: center;
    }

    .gameseasons__box_title {
        font-size: 32px;
        line-height: 39px;
    }

    .gameseasons__box_text {
        font-size: 14px;
        line-height: 22px;
    }

    .gameseasons__box {
        text-align: center;
    }

    .gameseasons__img {
        width: 343px;
    }

    .gamewords {
        display: flex;
        flex-direction: column-reverse;
    }

    .gamewords__box {
        text-align: center;
        align-items: center;
    }

    .gamewords__img {
        width: 343px;
    }

    .gamewords__title {
        font-size: 32px;
        line-height: 39px;
    }

    .gamewords__text {
        font-size: 14px;
        line-height: 22px;
    }

    .gamepuzzles__title {
        font-size: 32px;
        line-height: 39px;
    }

    .gamepuzzles__text {
        font-size: 14px;
        line-height: 22px;
    }
}
    

    